.about-me-container {
  background-color: rgb(118, 94, 70);


  padding: 0 0 65px 0;
}

.about-me-row {
  display: flex;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  align-content: space-around;
}

.about-me-col {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.about-me-1 {
  padding: 65px 35px 0 65px;
  margin: 0 0 0 0;
  text-align: left;
  color: rgb(255, 255, 255);
  float: left;
  flex: 70%;
}

.about-me-header {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-align: left;
  color: rgb(255, 255, 255);
}

.about-me-text {
  margin: 20px 0 0 20px;
  text-align: left;
  color: rgb(255, 255, 255);
  float: left;
}

.about-me-2 {
  padding: 60px 0 0 20px;
  margin: 0 0 0 0;
  flex: 30%;
}

.about-me-photo {
  max-height: 290px;
  max-width: 290px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
