.about-me-container {
  background-color: rgb(118, 94, 70);
  padding: 30px;
}

.about-me-row {
  display: flex;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  align-content: space-around;
}

.about-me-1 {
  padding: 0;
  margin: 0;
  text-align: left;
  color: rgb(255, 255, 255);
  float: left;
}

.about-me-header {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-align: left;
  color: rgb(255, 255, 255);
}

.about-me-text {
  margin: 0;
  padding: 20px;
  text-align: left;
  color: rgb(255, 255, 255);
  float: left;
}

.about-me-2 {
  padding: 0;
  margin: 0;
}

.about-me-photo {
  max-height: 280px;
  max-width: 280px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}
