.contact-container {
  position: relative;
  padding: 65px 65px 65px 65px;
  margin: 0 0 0 0;
  background-size: 100%;
  background-position: center bottom;
  /* background-repeat: no-repeat; */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../../images/teaBackground.jpg'); */
  background-color: rgb(118, 94, 70);

}

.contact-header {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-align: left;
  color: rgb(255, 255, 255);
}

.contact-content {
  text-align: center;
}

.linked-in-logo {
  padding: 0 0 0 0px;
  margin: 10px;
  max-height: 125px;
  max-width: 125px;
  height: 125px;
  width: 125px;
  border: none;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/linkedInLogo.png');
  border-radius: 50%;
}

.github-logo {
  padding: 0 0 0 0px;
  margin: 10px;
  max-height: 125px;
  max-width: 125px;
  height: 125px;
  width: 125px;
  border: none;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/githubLogo.png');
  border-radius: 50%;
}
