.education-container {
  position: relative;
  padding: 0 0 0 0;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./../../images/birch.jpg');
}

.education-header {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
  color: rgb(255, 255, 255);
}

.education-row {
  display: flex;
  flex-wrap: wrap;
}

.education-1 {
  padding: 65px 65px 65px 65px;
  margin: 0 0 0 0;
}

.education-photo-1 {
  width: 250px;
  height: 250px;
  overflow: hidden;
  background-repeat: no-repeat;
  position: relative;
  background-image: url('./../../images/uvicEcsBuilding.jpeg');
  border-radius: 50%
}

.education-2 {
  padding: 65px 0 0 0;
  margin: 0 0 0 0;
}

.education-header-2 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
  color: rgb(255, 255, 255);
}

.education-text-2 {
  padding: 20px 0 0 25px;
  color: rgb(255, 255, 255);
}

.education-3 {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 65px 65px 65px;
  margin: 0 0 0 0;
}

.education-header-3 {
  flex: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
  color: rgb(255, 255, 255);
  position: relative;
}

.education-programming-button-3 {
  flex: 33%;
  background-color: rgb(38, 133, 3);
  border: none;
  color: white;
  max-width: 150px;
  height: 58px;
  /* padding: 15px 55px 15px 55px; */
  margin: 20px 0 0px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 40px;
  justify-content: space-around;
}

.education-programming-button-3:hover {
  background-color: rgb(9, 94, 1);
}
