.hobbies-interests-container {
  position: relative;
  padding: 65px;
  margin: 0 0 0 0;
  height: 100%;
  background-size: 100%;
  background-position: center top;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../../images/birchVertical.jpg');
}

.hobbies-interests-header {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-align: left;
  color: rgb(255, 255, 255);
}

.hobbies-interests-content {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hobbies-interests-point-1 {
  width: 350px;
  height: 125px;
  padding: 20px;
  margin: 0 0 0 0;
  display: flex;
}

.hobbies-interests-text-1 {
  text-align: left;
  padding: 10px;
  margin: 0 0 0 0;
  color: white;
  line-height: 125px;
}

.hobbies-interests-photo-1 {
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  min-height: 125px;
  min-width: 125px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/stage18BadmintonHall.PNG');
  border-radius: 50%;
}
.hobbies-interests-point-2 {
  width: 350px;
  height: 125px;
  padding: 20px;
  margin: 0 0 0 0;
  display: flex;
}

.hobbies-interests-text-2 {
  text-align: left;
  padding: 10px;
  margin: 0 0 0 0;
  color: white;
  line-height: 125px;
}

.hobbies-interests-photo-2 {
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  min-height: 125px;
  min-width: 125px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/volleyball.jpg');
  border-radius: 50%;
}

.hobbies-interests-point-3 {
  width: 350px;
  height: 125px;
  padding: 20px;
  margin: 0 0 0 0;
  display: flex;
}

.hobbies-interests-text-3 {
  text-align: left;
  padding: 10px;
  margin: 0 0 0 0;
  color: white;
  line-height: 125px;
}

.hobbies-interests-photo-3 {
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  min-height: 125px;
  min-width: 125px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/spikeball.png');
  border-radius: 50%;
}

.hobbies-interests-point-4 {
  width: 350px;
  height: 125px;
  padding: 20px;
  margin: 0 0 0 0;
  display: flex;
}

.hobbies-interests-text-4 {
  text-align: left;
  padding: 10px;
  margin: 0 0 0 0;
  color: white;
  line-height: 125px;
}

.hobbies-interests-photo-4 {
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  min-height: 125px;
  min-width: 125px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/skiing.jpg');
  border-radius: 50%;
}

.hobbies-interests-point-5 {
  width: 350px;
  height: 125px;
  padding: 20px;
  margin: 0 0 0 0;
  display: flex;
}

.hobbies-interests-text-5 {
  text-align: left;
  padding: 10px;
  margin: 0 0 0 0;
  color: white;
  line-height: 125px;
}

.hobbies-interests-photo-5 {
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  min-height: 125px;
  min-width: 125px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/trestle.jpg');
  border-radius: 50%;
}

.hobbies-interests-point-6 {
  width: 350px;
  height: 125px;
  padding: 20px;
  margin: 0 0 0 0;
  display: flex;
  line-height: 125px;
}

.hobbies-interests-text-6 {
  text-align: left;
  padding: 10px;
  margin: 0 0 0 0;
  color: white;
}

.hobbies-interests-photo-6 {
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  min-height: 125px;
  min-width: 125px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/supra.PNG');
  border-radius: 50%;
}

.hobbies-interests-point-7 {
  width: 350px;
  height: 125px;
  padding: 20px;
  margin: 0 0 0 0;
  display: flex;
}

.hobbies-interests-text-7 {
  text-align: left;
  padding: 10px;
  margin: 0 0 0 0;
  color: white;
  line-height: 125px;
}

.hobbies-interests-photo-7 {
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  min-height: 125px;
  min-width: 125px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/grandPiano.jpg');
  border-radius: 50%;
}

.hobbies-interests-point-8 {
  width: 350px;
  height: 125px;
  padding: 20px;
  margin: 0;
  display: flex;
}

.hobbies-interests-text-8 {
  text-align: left;
  padding: 10px;
  margin: 0 0 0 0;
  color: white;
  line-height: 125px;
}

.hobbies-interests-photo-8 {
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  min-height: 125px;
  min-width: 125px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/beach.jpg');
  border-radius: 50%;
}

.hobbies-interests-point-9 {
  width: 350px;
  height: 125px;
  padding: 20px;
  margin: 0;
  display: flex;
}

.hobbies-interests-text-9 {
  text-align: left;
  padding: 10px;
  margin: 0 0 0 0;
  color: white;
  line-height: 125px;
}

.hobbies-interests-photo-9 {
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  min-height: 125px;
  min-width: 125px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/computer.jpg');
  border-radius: 50%;
}