.hobbies-interests-container {
  position: relative;
  padding: 65px 65px 65px 65px;
  margin: 0 0 0 0;
  height: 100%;
  background-size: 100%;
  background-position: center top;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../../images/birchVertical.jpg');
}

.hobbies-interests-header {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-align: left;
  color: rgb(255, 255, 255);
}

.hobbies-interests-content {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.hobbies-interests-point-1 {
  flex: 30%;
  padding: 50px 0 50px 30px;
  margin: 0 0 0 0;
  display: flex;
}

.hobbies-interests-text-1 {
  flex: 60%;
  text-align: left;
  padding: 10px 0 0 25px;
  margin: 0 0 0 0;
  color: white;
}

.hobbies-interests-photo-1 {
  flex: 40%;
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  max-height: 125px;
  max-width: 125px;
  height: 125px;
  width: 125px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/stage18BadmintonHall.PNG');
  border-radius: 50%;
}
.hobbies-interests-point-2 {
  flex: 30%;
  padding: 50px 0 50px 30px;
  margin: 0 0 0 0;
  display: flex;
}

.hobbies-interests-text-2 {
  flex: 60%;
  text-align: left;
  padding: 10px 0 0 25px;
  margin: 0 0 0 0;
  color: white;
}

.hobbies-interests-photo-2 {
  flex: 40%;
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  max-height: 125px;
  max-width: 125px;
  height: 125px;
  width: 125px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/volleyball.jpg');
  border-radius: 50%;
}

.hobbies-interests-point-3 {
  flex: 30%;
  padding: 50px 0 50px 30px;
  margin: 0 0 0 0;
  display: flex;
}

.hobbies-interests-text-3 {
  flex: 60%;
  text-align: left;
  padding: 10px 0 0 25px;
  margin: 0 0 0 0;
  color: white;
}

.hobbies-interests-photo-3 {
  flex: 40%;
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  max-height: 125px;
  max-width: 125px;
  height: 125px;
  width: 125px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/spikeball.png');
  border-radius: 50%;
}

.hobbies-interests-point-4 {
  flex: 30%;
  padding: 50px 0 50px 30px;
  margin: 0 0 0 0;
  display: flex;
}

.hobbies-interests-text-4 {
  flex: 60%;
  text-align: left;
  padding: 10px 0 0 25px;
  margin: 0 0 0 0;
  color: white;
}

.hobbies-interests-photo-4 {
  flex: 40%;
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  max-height: 125px;
  max-width: 125px;
  height: 125px;
  width: 125px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/skiing.jpg');
  border-radius: 50%;
}

.hobbies-interests-point-5 {
  flex: 30%;
  padding: 50px 0 50px 30px;
  margin: 0 0 0 0;
  display: flex;
}

.hobbies-interests-text-5 {
  flex: 60%;
  text-align: left;
  padding: 10px 0 0 25px;
  margin: 0 0 0 0;
  color: white;
}

.hobbies-interests-photo-5 {
  flex: 40%;
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  max-height: 125px;
  max-width: 125px;
  height: 125px;
  width: 125px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/trestle.jpg');
  border-radius: 50%;
}

.hobbies-interests-point-6 {
  flex: 30%;
  padding: 50px 0 50px 30px;
  margin: 0 0 0 0;
  display: flex;
}

.hobbies-interests-text-6 {
  flex: 60%;
  text-align: left;
  padding: 10px 0 0 25px;
  margin: 0 0 0 0;
  color: white;
}

.hobbies-interests-photo-6 {
  flex: 40%;
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  max-height: 125px;
  max-width: 125px;
  height: 125px;
  width: 125px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/supra.PNG');
  border-radius: 50%;
}

.hobbies-interests-point-7 {
  flex: 30%;
  padding: 50px 0 50px 30px;
  margin: 0 0 0 0;
  display: flex;
}

.hobbies-interests-text-7 {
  flex: 60%;
  text-align: left;
  padding: 10px 0 0 25px;
  margin: 0 0 0 0;
  color: white;
}

.hobbies-interests-photo-7 {
  flex: 40%;
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  max-height: 125px;
  max-width: 125px;
  height: 125px;
  width: 125px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/grandPiano.jpg');
  border-radius: 50%;
}

.hobbies-interests-point-8 {
  flex: 30%;
  padding: 50px 0 50px 30px;
  margin: 0 0 0 0;
  display: flex;
}

.hobbies-interests-text-8 {
  flex: 60%;
  text-align: left;
  padding: 10px 0 0 25px;
  margin: 0 0 0 0;
  color: white;
}

.hobbies-interests-photo-8 {
  flex: 40%;
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  max-height: 125px;
  max-width: 125px;
  height: 125px;
  width: 125px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/beach.jpg');
  border-radius: 50%;
}

.hobbies-interests-point-9 {
  flex: 30%;
  padding: 50px 0 50px 30px;
  margin: 0 0 0 0;
  display: flex;
}

.hobbies-interests-text-9 {
  flex: 60%;
  text-align: left;
  padding: 10px 0 0 25px;
  margin: 0 0 0 0;
  color: white;
}

.hobbies-interests-photo-9 {
  flex: 40%;
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  max-height: 125px;
  max-width: 125px;
  height: 125px;
  width: 125px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/computer.jpg');
  border-radius: 50%;
}