.hobbies-interests-container {
  background-color: rgb(0, 0, 0);
  position: absolute;
  padding-top: 80px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 240px;
}

.hobbies-interests-header {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 40px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.hobbies-interests-row-breaker {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 20vh;
}

.hobbies-interests-row {
  display: flex;
  height: 80vh;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  align-content: space-around;
}

.hobbies-interests-col {
  padding-top: 0px;
  padding-right: 60px;
  padding-bottom: 0px;
  padding-left: 60px;
  flex: 50%;
}

/* Badminton */
.hobbies-interests-heading-1 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.hobbies-interests-1-1 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
  float: left;
}

.hobbies-interests-1-2 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 100%;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./../../images/stage18BadmintonHall.PNG');
}

/* Volleyball */
.hobbies-interests-heading-2 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.hobbies-interests-2-1 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
  float: left;
}

.hobbies-interests-2-2 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 70vh;
  width: 100%;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./../../images/volleyball.jpg');
}

/* Skiing */
.hobbies-interests-heading-3 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.hobbies-interests-3-1 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
  float: left;
}

.hobbies-interests-3-2 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow: visible;
  height: 75vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./../../images/skiing.jpg');
}

/* Spikeball */
.hobbies-interests-heading-4 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.hobbies-interests-4-1 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
  float: left;
}

.hobbies-interests-4-2 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 100%;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./../../images/spikeball.png');
}

/* Automotive & Driving */
.hobbies-interests-heading-5 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.hobbies-interests-5-1 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
  float: left;
}

.hobbies-interests-5-2 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 75vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./../../images/supra.PNG');
}

/* Piano & Music */
.hobbies-interests-heading-6 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.hobbies-interests-6-1 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
  float: left;
}

.hobbies-interests-6-2 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./../../images/grandPiano.jpg');
}

/* Music */
/* .hobbies-interests-heading-7 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin: 0px;
  font-size: 30px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.hobbies-interests-7-1 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-size: 16px;
  text-align: left;
  color: rgb(255, 255, 255);
  float: left;
}

.hobbies-interests-7-2 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 100%;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./../../images/stage18BadmintonHall.PNG');
} */

/* Nature */
.hobbies-interests-heading-8 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.hobbies-interests-8-1 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
  float: left;
}

.hobbies-interests-8-2 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./../../images/beach.jpg');
}

/* Technology */
.hobbies-interests-heading-9 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.hobbies-interests-9-1 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
  float: left;
}

.hobbies-interests-9-2 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 100%;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 125%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)), url('./../../images/computer.jpg');
}