.hero-image {
    height: 75vh;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./../../images/teaBackground2.jpg');
}

.hero-self {
    display: flex;
    text-align: center;
    position: relative;
    color: white;
    padding: 45vh 0 0 5vw;
}

.hero-photo {
    flex: 25%;
    max-height: 180px;
    max-width: 180px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.hero-text {
    flex: 75%;
    text-align: left;
    position: relative;
    color: white;
}

.hero-name {
    font-size: 50px;
    padding: 35px 0 0 75px;
    margin: 0 0 0 0;
}

.hero-subtitle {
    padding: 0 0 0 75px;
    margin: 0 0 0 0;
    font-size: 25px
}
