.hero-image-small {
    height: 65vh;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../../images/teaBackground2.jpg');
}

.hero-self-small {
    text-align: center;
    position: relative;
    color: white;
    margin: 18vh 0 0 0;
}

.hero-photo-small {
    max-height: 124px;
    max-width: 124px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.hero-text-small {
    width: 240px;
    text-align: center;
    position: relative;
    color: white;
    margin: 35px auto 35px auto;
}

.hero-name-small {
    font-size: 40px;
    padding: 5px;
    margin: 0;
    border-bottom: 1.75px solid white;
}

.hero-subtitle-small {
    font-size: 22px;
    padding: 10px;
    margin: 0;
}
