.work-experience-container {
  position: relative;
  padding: 65px 65px 65px 65px;
  margin: 0 0 0 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../../images/wood.jpg');
}

.work-experience-header {
  padding: 0 0;
  margin: 0 0;
  text-align: left;
  color: rgb(255, 255, 255);
}

.work-experience-heading-container {
  padding: 0 0;
  margin: 0 0;
  display: flex;
}

/* Corvus Energy */
.work-experience-row-1 {
  display: flex;
  padding: 40px 0;
  margin: 0;
  align-content: space-around;
}

.work-experience-words-1 {
  padding: 0;
  margin: 0;
}

.work-experience-logo-1 {
  height: 75px;
  width: 75px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
  background-image: url('./../../images/corvusLogo.svg');
}

.work-experience-heading-1 {
  padding: 0 0 0 5px;
  margin: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.work-experience-subtitle-1 {
  padding: 0 0 0 5px;
  margin: 0 0 0 0;
  text-align: left;
  color: rgb(255, 255, 255);
}

.work-experience-text-1 {
  padding: 20px;
  margin: 0 0;
  text-align: left;
  color: rgb(255, 255, 255);
  float: left;
}

.work-experience-image-1 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.work-experience-photo-1 {
  padding: 0 0;
  margin: 0 20px 20px 20px;
  height: 350px;
  width: 350px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-image: url('./../../images/corvusEnergy.png');
  border-radius: 50%;
}

/* GE Digital */
.work-experience-row-2 {
  display: flex;
  padding: 40px 0;
  margin: 0;
  align-content: space-around;
}
.work-experience-words-2 {
  padding: 0;
  margin: 0;
}
.work-experience-logo-2 {
  height: 75px;
  width: 75px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 50%;
  background-image: url('./../../images/geLogo.png');
}
.work-experience-heading-2 {
  padding: 0 0 0 15px;
  margin: 0;
  text-align: left;
  color: rgb(255, 255, 255);
}
.work-experience-subtitle-2 {
  padding: 0 0 0 15px;
  margin: 0;
  text-align: left;
  color: rgb(255, 255, 255);
}
.work-experience-text-2 {
  padding: 20px;
  margin: 0;
  text-align: left;
  color: rgb(255, 255, 255);
  float: left;
}
.work-experience-image-2 {
  padding: 0;
  margin: 0;
}
.work-experience-photo-2 {
  padding: 0 0 0 0;
  margin: 0 20px 20px 20px;
  height: 350px;
  width: 350px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('./../../images/geDigital.jpg');
  border-radius: 50%;
}

/* Ridge Playhouse */
.work-experience-row-3 {
  display: flex;
  padding: 40px 0;
  margin: 0 0 0 0;
  align-content: space-around;
}
.work-experience-words-3 {
  padding: 0;
  margin: 0;
}
.work-experience-logo-3 {
  height: 75px;
  width: 75px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px 75px;
  background-image: url('./../../images/ridgeTheatrePlayhouseLogo.png');
}
.work-experience-heading-3 {
  padding: 0 0 0 15px;
  margin: 0 0 0 0;
  margin: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.work-experience-subtitle-3 {
  padding: 0 0 0 15px;
  margin: 0 0 0 0;
  text-align: left;
  color: rgb(255, 255, 255);
}
.work-experience-text-3 {
  padding: 20px;
  margin: 0 0 0 0;
  text-align: left;
  color: rgb(255, 255, 255);
  float: left;
}
.work-experience-image-3 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.work-experience-photo-3 {
  padding: 0 0 0 0;
  margin: 0 20px 20px 20px;
  height: 350px;
  width: 350px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-image: url('./../../images/ridgeTheatrePlayhouse.png');
  border-radius: 50%;
}

/* Beach House */
.work-experience-row-4 {
  display: flex;
  padding: 40px;
  margin: 0 0 0 0;
  align-content: space-around;
}
.work-experience-words-4 {
  padding: 0;
  margin: 0 0 0 0;
}
.work-experience-logo-4 {
  height: 75px;
  width: 75px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px 75px;
  border-radius: 50%;
  background-image: url('./../../images/beachhouseLogo.PNG');
}
.work-experience-heading-4 {
  padding: 0 0 0 15px;
  margin: 0 0 0 0;
  margin: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.work-experience-subtitle-4 {
  padding: 0 0 0 15px;
  margin: 0 0 0 0;
  text-align: left;
  color: rgb(255, 255, 255);
}
.work-experience-text-4 {
  padding: 20px;
  margin: 0 0 0 0;
  text-align: left;
  color: rgb(255, 255, 255);
  float: left;
}
.work-experience-image-4 {
  padding: 0 0 0 0px;
  margin: 0 0 0 0;
}
.work-experience-photo-4 {
  padding: 0 0 0 0;
  margin: 0 20px 20px 20px;
  height: 350px;
  width: 350px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('./../../images/beachhouse.jpg');
  border-radius: 50%;
}