.work-experience-nav-bar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #111; */
  overflow-x: hidden;
  padding-top: 25vh;
}

.work-experience-nav-bar-button {
  display: block;
  font-size: 16px;
  color: rgb(150, 150, 150);
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  border: transparent;
  background-color: transparent;
}

.work-experience-nav-bar-button-active {
  display: block;
  text-align: left;
  padding: 14px 16px;
  font-size: 16px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: transparent;
  background-color: transparent;
}

.work-experience-nav-bar-button:hover {
  color: rgb(200, 200, 200);
}